<div class="background row justify-content-center align-items-center w-100 m-0 h-100">
  <div>
    <div class="container p-3 bg-black bg-opacity-75 shadow rounded">
      <div>
        <div class="row mb-4">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label>Nom de la galaxie </label><br>
              <input type="text" class="form-control bg-dark text-white" [(ngModel)]="galaxie.nom" required>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label>Est-elle encore active ?</label><br>
              <select class="form-control bg-dark text-white" [(ngModel)]="galaxie.active">
                <option value="true">Oui</option>
                <option value="false">Non</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label>Quelle est sa morphologie ?</label><br>
              <input type="text" class="form-control bg-dark text-white" [(ngModel)]="galaxie.morphologie">
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label>A-t-elle une morphologie particulière ? Si oui laquel ?</label><br>
              <input type="text" class="form-control bg-dark text-white" [(ngModel)]="galaxie.morphologie_particuliere">
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label>Quelle taille fait-elle ? </label><br>
              <input type="text" class="form-control bg-dark text-white" [(ngModel)]="galaxie.taille">
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label> Un lien vers une image ? </label><br>
              <input type="text" class="form-control bg-dark text-white" [(ngModel)]="galaxie.picture">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Une petite description à partager ?</label><br>
              <textarea name="synopsis" cols="30" rows="10" class="form-control bg-dark text-white" [(ngModel)]="galaxie.description"></textarea>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <div class="submit text-center">
              <button type="button" class="btn btn-success btn-lg btn-block" (click)="modif()">Valider</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
